{{ with .Site.GetPage "section" "notes" }}
<div class="pb-4">
    <a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
</div>      
{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
{{ end }}
<div class="row row-cols-1 g-4 mb-5">
    {{ range ( where site.RegularPages "Section" "notes" | first 6 ) }}
    {{ partial "home_note.html" . }}
    {{ end }}
</div>
{{ with .Site.GetPage "section" "notes" }}
<div class="d-flex flex-row-reverse">
    <a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all notes</a>
</div>
{{ end }}
