{{ with .Site.GetPage "section" "writing" }}
<div class="pb-4">
    <a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
</div>
{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
{{ end }}
<div class="row row-cols-1 row-cols-md-2 g-3">
    {{ range first 5 (where .Site.RegularPages "Section" "writing").ByLastmod.Reverse }}
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title name">
                    <a href="{{ .Permalink }}" class="text-decoration-none text-dark">
                        {{ .Title }}
                    </a>
                </h5>
                
                <div class="mb-2">
                    <small class="text-muted">{{ .Date.Format "Jan 2, 2006" }}</small>
                    {{ partial "status.html" . }}
                </div>
                
                <div class="card-text serif">
                    {{ if .Summary }}
                        {{ .Summary | truncate 100 }}
                    {{ else }}
                        {{ .Content | truncate 100 }}
                    {{ end }}
                </div>
                
                {{ with .Params.writing_tags }}
                <div class="mt-2">
                    {{ range first 2 . }}
                    <span class="badge bg-light text-dark me-1" style="font-size: 0.6rem;">{{ . }}</span>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>
{{ with .Site.GetPage "section" "writing" }}
<div class="d-flex flex-row-reverse mt-4">
    <a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">See all writings</a>
</div>
{{ end }}
