{{ define "main" }}

<div class="mt-5 pt-5 pb-1">
    <div class="container" >
       	<h1 class="name display-1"><b>{{ .Site.Params.Name }}</b></h1>
    </div>
</div>
<div class="mb-5 py-4">
    <div class="container">
        <h2 class="bio lh-base fs-1 serif">{{ .Site.Params.Description }}</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <!-- Notes Section (Left) -->
        <div class="col-lg-4">
            <div class="row g-5">
                <div class="col-12">
                    {{ partial "home_garden.html" . }}
                </div>
            </div>
        </div>
        
        <!-- Writing Section (Right) -->
        <div class="col-lg-8">
            <div class="row g-5">
                <div class="col-12">
                    {{ partial "home_writing.html" . }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Projects Row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ partial "home_project.html" . }}
        </div>
    </div>
</div>

<!-- Library Row -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ partial "home_library.html" . }}
        </div>
    </div>
</div>
{{ end }}